<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature</title>
</head>
<body>
    <div class="nav">
        <fieldset style="border:0 none">
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="/seatemp">Ocean Temperature</a></li>
                <li><a href="/earthtemp">Global Average Temperature</a></li>
                <li><a href="/co2">CO2 Atmosphere</a></li>
                <li><a href="/sealevel">Sea Level</a></li>
            </ul>
        </fieldset>
    </div>
</body>
</html>